<div id='footer'>
	<p>©2018
		<a href='/' style="font-weight: bold"><%- websiteTitle %></a> - Code by
		<a href="https://nodejs.org/" style="font-weight: bold">Node.js</a>
	</p>
</div>
<%- statistics %>
</body>

</html>